VITE_GTM_ID=GTM-XXXXXXX
VITE_GA4_ID=G-XXXXXXXXXX
VITE_GOOGLE_ADS_ID=AW-XXXXXXXXX
VITE_GOOGLE_ADS_PURCHASE_LABEL=xxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_ADS_BEGIN_CHECKOUT_LABEL=xxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_ADS_WHATSAPP_LABEL=xxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_ADS_PHONE_LABEL=xxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_ADS_FORM_LABEL=xxxxxxxxxxxxxxxxxxxx
VITE_META_PIXEL_ID=123456789012345
VITE_TIKTOK_PIXEL_ID=XXXXXXXXXXXXXXX
VITE_CLARITY_PROJECT_ID=abcdefghij
VITE_PAYSTACK_PUBLIC_KEY=pk_live_replace_me
